













@media (max-width: 768px) {
    /*  */

    /* .search-container,
    .btn-custom,
    .dropdown,
    .btn-group {
        width: 100%;
    } */




    /* .table td[data-label="Payé"] {
        color: green;
    }

    .table td[data-label="Scanné"] {
        color: red;
    } */
}

/* Pagination size adjustments */
.pagination-container .pagination-buttons .btn {
    width: 35px;
    height: 30px;
    padding: 2px 6px;
    margin: 0 1px;
    background-color: #fff;
    border: 2px solid #CBD2E8;
    border-radius: 5px;
    color: #293D7A;
    cursor: pointer;
}

.pagination-container .pagination-buttons .btn.active {
    background-color: #EEF0F9;
}

.pagination-container .pagination-buttons .btn:hover {
    background-color: #EEF0F9;
}

#noResults {
    display: none;
    color: red;
    margin-top: 10px;
}
